body{
    font-family:Arial,sans-serif;
    background:#f2f2f2;
    display:flex;
    justify-content:center;
    padding:20px;
}

.container{
    width:500px;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 0 10px gray;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:12px;
    margin-bottom:12px;
    border:1px solid gray;
    border-radius:5px;
    box-sizing:border-box;
}

button{
    width:100%;
    padding:12px;
    background:green;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:darkgreen;
}

h2,h3{
    text-align:center;
}

.student{
    background:#eaf4ff;
    padding:15px;
    margin-top:10px;
    border-radius:8px;
    text-align:center;
}

.edit-btn{
    background:orange;
    width:auto;
    padding:8px 15px;
    margin-right:10px;
}

.delete-btn{
    background:red;
    width:auto;
    padding:8px 15px;
}

.contact{
    margin-top:30px;
    text-align:center;
    background:#f8f8f8;
    padding:15px;
    border-radius:10px;
}

footer{
    margin-top:20px;
    text-align:center;
    background:#222;
    color:white;
    padding:15px;
    border-radius:8px;
}
